<!-- group_classes Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.group_classes.section | default: "group_classes" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].group_classes.title | markdownify | default: "group_classes" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].group_classes.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.group_classes %}
      <div class="col-md-4 col-sm-6 group_classes-item">
        <a class="group_classes-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="group_classes-hover">
            <div class="group_classes-hover-content">
              <i class="{{ site.data.style.group_classes-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="group_classes-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.group_classes.section | default: "group_classes" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.group_classes.title | markdownify | default: "group_classes" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.group_classes.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.group_classes %}
      <div class="col-md-4 col-sm-6 group_classes-item">
        <a class="group_classes-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="group_classes-hover">
            <div class="group_classes-hover-content">
              <i class="{{ site.data.style.group_classes-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="group_classes-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% include modals.html %}
